@using EmployeeManagmentSystem.DTOs
@model IEnumerable<EmployeeManagmentSystem.DTOs.ProjectTotalWorkloadDTO>

<h2>Employees</h2>
<table class="table">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Total Workload</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectTotalWorkloadDTO projectWorkload in Model)
        {
            <tr>
                <td>@projectWorkload.ProjectName</td>
				<td>@projectWorkload.TotalHours</td>
            </tr>
        }
    </tbody>
</table>
